* {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.ds1 {
    margin-right: 2cm;
    display: inline-block;
    width: 500px;
    text-align: center;
    align-content: center;
    align-items: center;
    border: 3px solid black;
    vertical-align: middle;
}

.okl {
    width: 450px;
}

.nc3 {
    border-bottom: 8px solid black;
    margin-top: 0px;
    font-size: 130px;
    position: absolute;
    left: 3.0cm;
    top: 0.2cm;
    text-align: center;
    color: rgba(0, 0, 0, 0.0);
    z-index: 20000;
    transform: skew(45deg); 
    border-left: 12px solid black; 
}

h1 {
    margin-bottom: 3cm;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.oklick_970g {
    text-align: left;
    font-size: 25px;
}


.buy {
    font-size: 35px;
    margin: 10px auto;
    margin-bottom: 30px;
    border: 0;
    text-align: center;
    width: 3cm;
    background-color: rgb(0, 255, 30);
}

h2 {
    font-size: 80px;
    
}

.inline {
    margin-right: 2cm;
    align-items: stretch;
    display: inline-flex;
    /* height: 200px; */
    vertical-align: middle;   
}

.ds2 {
    margin-right: 2cm;
    
    width: 500px;
    text-align: center;
    align-content: center;
    align-items: center;
    border: 3px solid black;
    vertical-align: middle;
}

.ds3 {
    margin-right: 2cm;
    
    width: 500px;
    text-align: center;
    align-content: center;
    align-items: center;
    border: 3px solid black;
    vertical-align: middle;
}